<!DOCTYPE html>
{% load bootstrap_toolkit %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>django-bootstrap-toolkit = Bootstrap support for Django</title>
    <meta name="description" content="">
    <meta name="author" content="Dylan Verheul">
    {% bootstrap_stylesheet_tag %}
    <style type="text/css">
        body {
            padding-top: 60px;
        }
    </style>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    {% bootstrap_javascript_tag %}
    {% block extra_head %}{% endblock %}
</head>

<body>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">django-bootstrap-toolkit</a>
            <ul class="nav">
                <li><a href="{% url home %}" class="">Home</a></li>
                <li><a href="{% url demo_app.views.demo_form %}">Form</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Forms<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a class="nav" href="{% url demo_app.views.demo_form %}?layout=vertical">Vertical</a></li>
                        <li><a href="{% url demo_app.views.demo_form %}?layout=horizontal">Horizontal</a></li>
                        <li><a href="{% url demo_app.views.demo_form_inline %}?layout=inline">Inline</a></li>
                        <li><a href="{% url demo_app.views.demo_form_inline %}?layout=search">Search</a></li>
                        <li><a href="{% url demo_app.views.demo_form_with_template %}?layout=horizontal">Using template</a></li>
                    </ul>
                </li>
                <li><a href="{% url tabs %}">Tabs &amp; Pills</a></li>
                <li><a href="{% url pagination %}">Pagination</a></li>
                <li><a href="{% url contact %}">Contact</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container">

    {% bootstrap_messages %}

    {% block content %}Empty page{% endblock %}

    <p><hr></p>

    <footer class="row">
        <div class="span6">
            <p>This is <a href="https://github.com/dyve/django-bootstrap-toolkit">django-bootstrap-toolkit</a></p>
        </div>
        <div class="span6" style="text-align:right">
            <p>
                &copy; <a href="http://twitter.com/dyve">Dylan Verheul</a> 2012
                |
                <a href="https://raw.github.com/dyve/django-bootstrap-toolkit/master/LICENSE">license</a>
            </p>
        </div>
    </footer>

</div> <!-- container -->

</body>
</html>
