{% extends "base.html" %}

{% load bootstrap_toolkit %}

{% block content %}

    <h1>This is a <em>{{ layout }}</em> Django form, bootstrapped</h1>
    <h3>It is rendered with a custom template.</h3>
    
    <p>&nbsp;</p>
        
    <form class="form-{{ layout }}" action="" method="post">
        {% csrf_token %}

        {% for field in form %}
            {% if field.name == 'disabled' %}
                {% bootstrap_field field layout=layout append='$' %}
            {% else %}
                {% if field.name != 'color' %}
                    {% bootstrap_field field layout=layout %}
                {% endif %}
            {% endif %}
        {% endfor %}

        {% bootstrap_field form.color layout=layout %}

        {% if layout == "horizontal" %}
            <div class="col-10 col-offset-2">
                <input type="submit" value="Submit" class="btn btn-primary">
                <p class="help-block">Submit the form to see error messages styled into it.</p>
            </div>
        {% else %}
            <input type="submit" value="Submit" class="btn btn-primary">
            <p class="help-block">Submit the form to see error messages styled into it.</p>
        {% endif %}
    </form>
    
    <p>&nbsp;</p>
{% endblock %}