{% extends "base.html" %}

{% load bootstrap_toolkit %}

{% block extra_head %}
    {{ formset.media }}
    
    <style type="text/css" media="screen">
        .form-inline fieldset { padding: .5em 0; }
    </style>
{% endblock %}

{% block content %}
    <h1>This is a <em>{{ layout }}</em> Django formset, bootstrapped</h1>

    <p>&nbsp;</p>

    <form class="form-{{ layout }}" action="" method="post">
        {% csrf_token %}

        {% bootstrap_formset formset layout=layout inline_group_class='col-4' %}

        {% if layout == "horizontal" %}
            <div class="col-10 col-offset-2">
                <input type="submit" value="Submit" class="btn btn-primary">
                <p class="help-block">Submit the form to see error messages styled into it.</p>
            </div>
        {% else %}
            <input type="submit" value="Submit" class="btn btn-primary">
            <p class="help-block">Submit the form to see error messages styled into it.</p>
        {% endif %}
    </form>
{% endblock %}