{% extends "base.html" %}

{% load bootstrap_toolkit %}

{% block content %}

<h1>This is a <em>{{ layout }}</em> Django form, bootstrapped</h1>

<p>&nbsp;</p>

<form class="form-{{ layout }} clearfix" action="" method="post">
    {% csrf_token %}
    
    {% bootstrap_form form layout=layout inline_group_class='col-2' %}
    
    <div class="col-2">
        <input type="submit" class="btn btn-primary">
    </div>
</form>

<p class="help-block">Submit the form to see error messages styled into it.</p>
{% endblock %}